.logo {
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

#logo {
    font-size: 20px;
    cursor: pointer;
}

#menu {
    position: fixed;
    perspective: none;
    z-index: 1;
    background-color: #c04851;
    left: 0;
    top: 0;
    width: 100%;
}

#menu > div {
    float: left;
    display: block;
    position: relative;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    padding: 5px 20px;
    font-size: 20px;
}

#D-list {
    display: none;
    position: absolute;
    right: 0;
    padding: 5px 20px;
    background-color: #c04851;
    font-size: 20px;
}

#search > form > input {
    height: 30px;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    background-color: white;
    border-radius: 5px;
}

#menu > div > span {
    cursor: pointer;
}

#menu > div > div > span {
    cursor: pointer;
}
